/node_modules
/public/hot
/public/storage
/public/dbv-1.1/config.php
/config/wechat.php
/storage/*.key
/vendor
/storage
/.idea
/.vagrant
/public/yizhihuangli
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
